<main class="container">
  <!-- <nav><a routerLink="/add">
      <button mat-flat-button class="ajouterBtn" color="accent">
        Ajouter un devoir
      </button>
    </a></nav> -->

  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Rendu">
      <cdk-virtual-scroll-viewport #scroller itemSize="96" class="viewport" id="infinite-scroll" class="infinite_scroll">
        <mat-list *cdkVirtualFor="let assignment of assignmentsRendu">
          <nav><a routerLink="/assignment/{{assignment.id}}">
              <h3 mat-subheader>Date de rendu {{assignment.dateDeRendu | date}}</h3>
              <mat-list-item>
                <p appRendu >
                  {{assignment.nom}} rendu.
                </p>
                <mat-divider></mat-divider>
              </mat-list-item>
            </a></nav>
        </mat-list>
      </cdk-virtual-scroll-viewport>
    </mat-tab>

    <mat-tab label="Non-rendu">
      <cdk-virtual-scroll-viewport #scrollerNonRendu itemSize="96"  id="infinite-scroll2" class="infinite_scroll">
        <mat-list *cdkVirtualFor="let assignment of assignmentsNonRendu">
          <nav><a routerLink="/assignment/{{assignment.id}}">
              <h3 mat-subheader>Date de rendu {{assignment.dateDeRendu | date}}</h3>
              <mat-list-item>
                <p>
                  Devoir intitulé {{assignment.nom}} non rendu.
                </p>
                <mat-divider></mat-divider>
              </mat-list-item>
            </a></nav>
        </mat-list>
      </cdk-virtual-scroll-viewport>
    </mat-tab>


  </mat-tab-group>


</main>